.searcher {
    text-align: center;
    padding: 40px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    }
.buttons {
    text-align: center;
    height: 10px;
    /* padding: 60px 60px; */
    text-decoration-color: gray;
}
#search_bar {
    width: 400px;
    height: 35px;
    margin: 20px;
    /* padding: 30px 30px 30px 30px; */
    
}
#logo {
    height: 100%;
    width: 100%;
    
}